<div class="tile is-parent is-vertical">
    <div class="tile is-child">
        <button type="button" class="button is-primary">添加标签</button>
    </div>
    <table class="table tile is-child">
        <thead>
        <tr>
            <th>标签名</th>
            <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>aa</td>
            <td>aa</td>
        </tr>
        </tbody>
    </table>
</div>



<script>
    var tagContent = {};
    (function (tagContent) {

        tagContent.init = function () {

        };
        tagContent.init();
    })(tagContent)
</script>