<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签</title>
    <% include header %>
</head>
<body>
<input type="hidden" class="active" value="tag"/>
<% include nav.ejs%>
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <% include tag/content %>
        </div>
    </div>
</section>
</body>
</html>