<div class="tile is-vertical is-parent is-10">
    <div class="field is-horizontal">
        <div class="tile is-1 field-label is-normal">
            <label class="label">key:</label>
        </div>
        <div class="tile is-11 field-body">
            <input class="input" type="text" id="redis_key" data-clipboard-action="copy" data-clipboard-target="#redis_key" size="120">
            <a class="button is-danger" id="btn_del_redis">删除</a>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="tile is-1 field-label is-normal">
            <label class="label">值:</label>
        </div>
        <div class="tile is-11 field-body">
            <textarea class="tile is-12" id="redis_value" rows="50">

            </textarea>
            <a class="button is-success" id="btn_update_redis">修改</a>
        </div>
    </div>
</div>

<div class="tile is-vertical is-parent is-2">
    <div class="field-label is-normal">
        <label class="label color-primary" id="message_box"></label>
    </div>
</div>

<script>

    $('#btn_del_redis').on('click', function () {
        if (!$('#redis_key').val()) {
            return;
        }
        msg.alert('提示', '确定删除？', function (ok) {
            if (ok) {
                //删除
                keyutil.del($('#redis_key').val(), function (flag) {
                    if (flag === true) {
                        $("#message_box").text("删除成功").show().fadeOut(2000);
                        left.listKeys();
                    } else {
                        $("#message_box").text("删除失败").show().fadeOut(2000);
                    }
                });
            }
        });
    });

    $('#redis_key').keydown(function (e) {
        if (e.keyCode == 13) {
            left.getShow(this.value);
        }
    });

    $('#btn_update_redis').on('click', function () {
        if (!$('#redis_key').val()) {
            return;
        }
        msg.alert('提示', '是否修改？', function (ok) {
            if (ok) {
                keyutil.update($('#redis_key').val(), $('#redis_value').val(), function (flag) {
                    if (flag === true) {
                        $("#message_box").text("修改成功").show().fadeOut(2000);
                        left.listKeys();
                    } else {
                        $("#message_box").text("修改失败").show().fadeOut(2000);
                    }
                });
            }
        })
    });

</script>